.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
.env.dividend

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# key
firebase-config.json
firebase-debug.log

# firebase
hosting.*.cache
firestore.rules
